odoo-master-bare
enterprise-master-bare
18.0/common
18.0/projects
17.0/common
17.0/projects
16.0/common
16.0/projects
15.0/common
15.0/projects
14.0/common
14.0/projects
13.0/common
13.0/projects
12.0/common
12.0/projects
11.0/common
11.0/projects
10.0/common
10.0/projects
*/venv/*
